<div class="row">
	<div class="col-12 col-md-9 text-center">
		<h1>Nuestros servicios</h1>
	</div>
	<div class="col-12">
		<div class="row">
			<div class="col-lg-2 col-md-3 col-4 text-center">
				<a href="">
					<h3>Reparacion de frenos</h3>
					<fa class="fa-5x" name="cog"></fa>
				</a>
				
			</div>
			<div class="col-lg-2 col-md-3 col-4">
				<fa class="fa-5x" name="cog"></fa>
			</div>
			<div class="col-lg-2 col-md-3 col-4">
				<fa class="fa-5x" name="cog"></fa>
			</div>
			<div class="col-lg-2 col-md-3 col-4">
				<fa class="fa-5x" name="cog"></fa>
			</div>
			<div class="col-lg-2 col-md-3 col-4">
				<fa class="fa-5x" name="cog"></fa>
			</div>
			<div class="col-lg-2 col-md-3 col-4">
				<fa class="fa-5x" name="cog"></fa>
			</div>
		</div>
	</div>
</div>