<div class="row">
	<div class="col-md-4 col-xs-12 offset-md-4 border m-t-200 p-t-5 p-b-5 text-center">
		<form #loginForm="ngForm" (ngSubmit)="onLogin()">
		  	<div class="form-group">
			    <label class="fs-30" for="email">Usuario</label>
			    <input 
			    	type="email"
			    	name="email"
			    	#email="ngModel"
			    	[(ngModel)]="usuario.nombre"
			    	[ngClass]="{ 'form-control': true }" 
			    	required
			    	email
			    	placeholder="Ingrese un usuario">
			    <div [hidden]="email.valid" class="alert alert-danger">
	            Usuario incorrecto
	      		</div>
		    </div>
		  	<div class="form-group">
		    	<label class="fs-30" for="password">Password</label>
		    	<input 
		    		type="password"
		    		name="password"
		    		#password="ngModel"
			    	[ngClass]="{ 'form-control': true }" 
		    		[(ngModel)]="usuario.password" 
		    		required
		    		minlength="6" 
		    		placeholder="Ingrese un password">
			    <div [hidden]="password.valid" class="alert alert-danger">
	            	Password incorrecto
	      		</div>
            </div>
		  <button type="submit" class="btn btn-success auto" [disabled]="!loginForm.form.valid">Iniciar session</button>
		</form>
	</div>
</div>