/* You can add global styles to this file, and also import other style files */
*{
	
}

.col{
	margin: 0 !important;
	padding: 0 !important;
	
}

.no-margin{
	margin: 0 !important;
	padding: 0 !important;
}